@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.doodle-card:hover {
    animation: bounce 0.5s ease;
}
