@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1 {
    color: #333;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
